.flip-container {
  position: relative;
  -webkit-transform: perspective(600px);
  -webkit-transform-style: preserve-3d;
}

.revealed {
  transition: transform 1s;
  -webkit-transform: rotateY(0deg);

  -webkit-transition: -webkit-transform 1s;
}

.flip {
  transition: transform 1s;
  transform: rotateY(0deg);
  -webkit-transition: -webkit-transform 1s;
  -webkit-transform: rotateY(0deg);
}

.flip:hover {
  -webkit-transform: rotateY(-360deg);
  -webkit-transition: -webkit-transform 1s;
}
