<h1 class="title-text">User Cards List</h1>
<button (click)="sortBy(order, sort)">Filtrar</button>
<div>
  Filtrar por:
  <select>
    <option>Raridade</option>
    <option>Data de Lançamento</option>
  </select>
  Ordenar por:
  <select>
    <option>Ascendente</option>
    <option>Descendente</option>
  </select>
</div>
<div class="wrapper">
  <div *ngFor="let card of userLibrary">
    <div class="card-container">
      <app-card [card]="card" [revealed]="true"></app-card>
    </div>
  </div>
</div>
