@base-line-height: 35px;
@white: rgb(255, 255, 255);
@off-white: rgba(gray, 0.2);
@spin-duration: 1s;
@pulse-duration: 750ms;

.wrapper {
  display: grid;
  grid-template-columns: repeat(
    5,
    1fr
  ); /* 10 is the number of items per column */
  grid-template-rows: repeat(5, 1fr); /* 20 is the number of items per row */
  gap: 15px; /* The gap between the row and columns */
}

@media (max-width: 800px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  50% {
    background: white;
  }
}

.loading-pulse {
  position: relative;
  width: (@base-line-height / 4);
  height: @base-line-height;
  background: @off-white;
  animation: pulse @pulse-duration infinite;
  animation-delay: (@pulse-duration / 3);
  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    height: (@base-line-height / 1.5);
    width: (@base-line-height / 4);
    background: @off-white;
    top: 50%;
    transform: translateY(-50%);
    animation: pulse @pulse-duration infinite;
  }
  &:before {
    left: -(@base-line-height / 2);
  }
  &:after {
    left: (@base-line-height / 2);
    animation-delay: (@pulse-duration / 1.5);
  }
}

.pull-container {
  margin: 5%;
}
.input {
  text-align: center;
  height: 50%;
  padding: 0 1.6rem;
  border-radius: 2.25rem;
  margin: 1.6rem;
  border: none;
  background: #f6f8ff;
  color: gray;
  font-size: 1.9rem;
  outline: none;
  box-shadow: inset -1px -1px 9px hsla(0, 100%, 100%, 1),
    inset 1px 1px 9px hsla(0, 0%, 0%, 0.2),
    -3px -3px 12px hsla(0, 100%, 100%, 1), 3px 3px 12px hsla(0, 0%, 0%, 0.2);
  transition: all 0.3s ease;
}
