<div class="pull-container flex-column align-center">
  <h3>How many times do you want to pull?</h3>
  <input class="input" type="text" [(ngModel)]="rollsCounter" />
  <button class="btn" (click)="roll()">Pull {{ rollsCounter }} times!</button>
</div>

<div *ngIf="loading">
  <div class="loading flex-column align-center">
    <h1>Carregando...</h1>
    <div class="loading-pulse"></div>
  </div>
  <svg
    class="spinner"
    width="65px"
    height="65px"
    viewBox="0 0 66 66"
    xmlns="http://www.w3.org/2000/svg"
  >
    <circle
      class="path"
      fill="none"
      stroke-width="6"
      stroke-linecap="round"
      cx="33"
      cy="33"
      r="30"
    ></circle>
  </svg>
</div>

<div *ngIf="!loading">
  <div class="wrapper">
    <div *ngFor="let card of cardList">
      <div class="card-container">
        <app-card [card]="card"></app-card>
      </div>
    </div>
  </div>
</div>
