<div class="modal-container">
  <div>
    <button class="btn close-button" (click)="closeModal()">x</button>
  </div>
  <div class="content flex-row">
    <div class="card-image">
      <app-card-image [config]="imageConfig"></app-card-image>
    </div>
    <div class="card-description">
      <h1>{{ card.name }}.</h1>
      <p>{{ card.type_line }}</p>
      <div>
        <span>
          {{ card.rarity }}
        </span>
        <span [innerHtml]="card.mana_cost | mana"></span>
      </div>
      <p style="text-align: justify; text-justify: auto">
        {{ card.oracle_text }}
      </p>
      <p>
        {{ card.flavor_text }}
      </p>
      <p>
        {{ card.set_name }}
      </p>
    </div>
  </div>
</div>

<div class="overlay"></div>
