<div class="cards">
  <div style="height: inherit" class="flex-row align-center space-around">
    <div clas="firstColumn">
      <div class="flex-column align-center space-between card">
        <h2>Mount Your</h2>
        <h3>Deck</h3>
        <div class="button">
          <a href="/deck">
            <span>MY DECK</span>
            <div class="liquid"></div>
          </a>
        </div>
      </div>
      <div class="flex-column align-center space-between card">
        <h2>User</h2>
        <h3>Library</h3>
        <div class="button">
          <a href="/library">
            <span>CARDS LIST</span>
            <div class="liquid"></div>
          </a>
        </div>
      </div>
    </div>

    <div class="flex-column align-center space-between card">
      <h2>Test Your Luck</h2>
      <h3>Try to get some cards</h3>
      <div class="button">
        <a href="/pull">
          <span>GET CARDS</span>
          <div class="liquid"></div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="">
  <div class="symbol">
    <img
      style="width: 100%; height: 100%"
      src="../assets/phyrexian-symbol.png"
    />
  </div>
  <div class="pre-container">
    <div class="container">
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>

      <div class="border"></div>
      <div class="border"></div>
    </div>
    <svg>
      <defs>
        <filter id="goo">
          <!--Give slow dripping slime effect in CSS-->
          <feGaussianBlur in="SourceGraphic" stdDeviation="10" />
          <feColorMatrix
            in="name"
            mode="matrix"
            values="1 0 0 0 0
                                 0 1 0 0 0
                                 0 0 1 0 0
                                 0 0 0 30 -15"
          />
          <feBlend in="SourceGraphic" />
        </filter>
      </defs>
    </svg>
  </div>
</div>
